/*A font declaration to my html code*/
html {
    font-family: Arial, Helvetica, sans-serif;
}


/*A selector which focuses on heading content*/
.heading {
    /* text-align: center; */
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: x-large;
    background-image: url(../image/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fit-content;
    height: 100%
}

/*A selector which focuses on menu*/
.menu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(125, 83, 52);
    padding-top: 2px;
    height: fit-content;
    width: fit-content; 
}


/*This is applies to every link in my html code*/
a:hover {
    color: rgb(255, 0, 0)
}

/*This selector focuses on the content*/
.content {
    background-color: rgb(150, 149, 150);
    border-style: dotted;
    color: rgb(255, 255, 255);

}

/*This selector focuses on footer*/
footer {
    background-color: rgb(125, 83, 52);
    border-style: dotted;
    display: right;
    font-size: larger;
    background-image: url(../image/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    background-size: cover;
    overflow: hidden;
}

/* This targets my profile photo */
img {
    border-radius: 50%;
    border: 2px solid white;
    height: auto;
    padding-top: 1px;
    width: 50%;
}

/* This colors all the heading in size h2 */
h2 {
    color: rgb(38, 5, 12);
}

/* This targerts the body of the resume */
body {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* This splits my resume content into two sections */
.split1 {
    display: flex;
    border-style:dotted;
}

#bottomCover {
    margin-bottom: -1px;
}

/* This back to top button */
#button {
    background-color: rgb(255, 255, 255);
    float: right;
    margin-top: 35%;
}
/* -------------------------------------------------------Media quiries--------------------------------------------------------------------------------------- */
/* SMALL DEVICES */
@media screen and (max-width: 600px){
    .heading {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: small;
    }

    /* Menu list*/
    .menu li{
        display: inline;
        list-style: none;
    }

    .menu{
        text-align: center;
        font-size: small;
    }

    .content{
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
    }

    h2{
        font-size: medium;
    }

    footer{
        font-size: small;
    }

    #button {
        background-color: rgb(162, 149, 149);
    } 
}

/* TABLET */
@media screen and (min-width: 601px){
    .heading {
        color: rgb(83, 56, 219);
        text-align: center;
        font-size: medium;
    }

    .content{
        font-size: medium;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

     /* Menu list*/
     .menu li{
        display: inline;
        list-style: none;
        padding-left: 63px;
    }

    .menu{
       font-size: medium; 
    }

    h2{
        color:rgb(8, 24, 165);
    }

    footer{
        font-size:medium;
    }     
}

/* Desktop device */
 @media screen and (min-width:993px){
.heading{
    font-size: larger;
    color: rgb(255, 255, 255);
}

.menu li{
    display: grid;
    text-align: left;
    padding-left: 0%;
}
.menu{
    text-align: center;
    font-size: large;
}

aside{
    text-align: left;
}

.content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

h2{
    color: rgb(38, 5, 12)
}

footer{
    font-size: larger;

}

}
