
/*A font declaration to my html code*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

/*A selector which focuses on heading content*/
.heading {
    text-align: center;
    background-color: rgb(93, 202, 202);
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left:5% ;
    margin-right: 5%;
}

/*A selector which focuses on menu*/
.menu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(194, 87, 194);
    height: fit-content;
    width: fit-content;
    margin-top: -7%;
}

/*This is applies to every link in my html code*/
a:hover {
    color: red
}

/*This selector focuses on the content*/
.content {
    background-color: rgb(76, 115, 188);
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 5%;
    
}

/*This selector focuses on the main content*/
article {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;
}

/*This selector focuses on footer*/
footer {
    background-color: rgb(194, 87, 194);
    border-style: dotted;
    margin-left: 5%;
    margin-right: 5%;
}

img {
    border-radius: 50%;
    border-style: double;
}

